﻿

@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Login</title>
    <style>
        body {
            background-color: #f1f1f1;
        }

        .box {
            margin-top: 10%;
        }

        a {
            color: grey;
        }

            a:hover {
                text-decoration: none;
            }
    </style>
</head>
<body>
    <div class="container">
        
        <div class="row box">
            <div class="offset-lg-4 col-lg-4 col-12 ">
                <img src="~/Content/img/logo.png" class="img-fluid" />
            </div>
            <br />
            <div class="offset-lg-4 col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <form action="@Url.Action("PostLogin","Auth")" method="post">
                            <div class="form-group">
                                @if (ViewBag.Error != null)
                        {
                            <label class="alert alert-danger">@ViewBag.Error</label>
                }
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Email address</label>
                                <input type="email" class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Password</label>
                                <input type="password" class="form-control" name="password" id="exampleInputPassword1" placeholder="Password">
                            </div>
                            <button type="submit" class="btn btn-primary">Login</button>
                            <p><a href="#"> Lost your password?</a></p>
                            <p><a href="#"><svg-icon><src href="sprite.svg#si-glyph-arrow-thin-left" /></svg-icon> Back to home page</a></p>
                        </form>
                    </div>
                </div>
            </div>
            <div class="offset-lg-4 col-lg-4 col-12 ">
                <br />
                <p class="text-center">Dont have account? <a href="@Url.Action("SignUp","Auth")">SignUp</a></p>
            </div>
            
        </div>

            <!-- Optional JavaScript -->
            <!-- jQuery first, then Popper.js, then Bootstrap JS -->
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>

