﻿@{
    ViewBag.Title = "About";
}
<!-- Hero-area -->
<div class="hero-area section">

    <!-- Backgound Image -->
    <div class="bg-image bg-parallax overlay" style="background-image:url(../../Content/img/page-background.jpg)"></div>
    <!-- /Backgound Image -->

    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
                <ul class="hero-area-tree">
                    <li><a href="index.html">Home</a></li>
                    <li>About Us</li>
                </ul>
                <h1 class="white-text">About Us</h1>

            </div>
        </div>
    </div>

</div>
<!-- /Hero-area -->
<!-- About -->
<div id="about" class="section">

    <!-- container -->
    <div class="container">

        <!-- row -->
        <div class="row">

            <div class="col-md-6">
                <div class="section-header">
                    <h2>Who we are?</h2>
                    <p class="lead">Libris vivendo eloquentiam ex ius, nec id splendide abhorreant.</p>
                </div>

                <!-- feature -->
                <div class="feature">
                    <i class="feature-icon fa fa-flask"></i>
                    <div class="feature-content">
                        <h4><b>Hemployment</b> </h4>
                        <p>Hemployment is the industry leader in cannabis recruiting and career training for medical cannabis jobs. Our Cannabis Recruiters focus on finding the best posible candidates for medical cannabis jobs. Our cannabis career trainers specialize in Medical Cannabis Training for cultivation centers, production facilities, and dispensaries. For those inexperienced candidates looking for employment in the medical cannabis industry, experienced candidates looking to further their education, or those simply looking to learn about how cannabis medicine works, Hemployment's CannaTrain program is the perfect program for you.</p>
                    </div>
                </div>
                <!-- /feature -->

            </div>

            <div class="col-md-6">
                <div class="about-img">
                    <img src="~/Content/img/about.png" alt="">
                </div>
            </div>

        </div>
        <!-- row -->

    </div>
    <!-- container -->
</div>
<!-- /About -->
